<!DOCTYPE html>
<html>
    <head>
        <title>Backbone application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

        <script src="libs/jquery.js"></script>
        <script src="libs/underscore.js"></script>
        <script src="libs/backbone.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>User Manager</h1>
            <hr />
            <div class="page"></div>
        </div>
        
        <script type="text/template" id="user-list-template">
            <a href="#/new" class="btn btn-primary">New User</a>
            <table class="table striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(users,function(user){ %>
                    <tr>
                        <td><%= user.get('Fname') %></td>
                        <td><%= user.get('Lname') %></td>
                        <td><%= user.get('Age') %></td>
                        <td><a href="#/edit/<%= user.id%>" class="btn">Edit</a></td>
                    </tr>
                <% }); %>
                
            </tbody>
            </table>
        
        </script>
        
        <script type="text/template" id="edit-user-template">
        <form class="edit-user-form">
        <legend><%= user ? 'Update ' : 'Create '%>User</legend>
        <label>First Name</label><br>
        <input type="text" name="Fname" value="<%= user ? user.attributes[0].Fname : '' %>">
        <hr />
        <label>Last Name</label><br>
        <input type="text" name="Lname" value="<%= user ? user.attributes[0].Lname : '' %>">
        <hr />
        <label>Age</label><br>
        <input type="text" name="Age" value="<%= user ? user.attributes[0].Age : '' %>">
        <hr />
        <button type="submit" class="btn"><%= user ? 'Update ' : 'Create '%></button>
            <% if(user) {%>
            <input type="hidden" name="id" value="<%= user.id %>">
            <button class="btn btn-danger delete" >Delete</button>
            <% }; %>
        </form>
        </script>
                
        <script>
            
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
            
            var Users = Backbone.Collection.extend({
               url: '/www/Backbone/users.php' 
            });
            
            var User = Backbone.Model.extend({
                urlRoot: '/www/Backbone/users.php'
            });
            
            //Here defined View
            var UserList = Backbone.View.extend({
               el: '.page',
               render: function(){
                   var users = {};
                   var self = this;
                   var users = new Users();
                   users.fetch({
                      success:function(users){
                          var template = _.template($('#user-list-template').html());
                          self.$el.html(template({'users': users.models})); 
                      } 
                   });
               }
            });
            
            var EditUser = Backbone.View.extend({
                el: '.page',
                render: function(option){
                    var that = this;
                    if(option.id){
                        that.user = new User({id : option.id});
                        that.user.fetch({
                            success:function(user){
                                var template = _.template($("#edit-user-template").html());
                                that.$el.html(template({user: user}));
                            }
                        });
                    }else{
                        var template = _.template($('#edit-user-template').html());
                        that.$el.html(template({user: null}));
                    }
                },
                events:{
                    'submit .edit-user-form': 'saveUser',
                    'click .delete': 'deleteUser'
                },
                saveUser: function(ev){
                    var userDetails = $(ev.currentTarget).serializeObject();
                    var user = new User();
                    user.save(userDetails,
                    {success: function(){router.navigate('',{trigger:true});},
                    error: function(e){console.log(e);}
                    });
                    return false;
                },
                deleteUser:function(ev){
                    this.user.destroy({
                        success: function(){
                            router.navigate('',{trigger:true});
                        }
                    })
                    return false;
                }
            });
            
            //Define Backbone router obj
            var Router = Backbone.Router.extend({
                routes:{
                    //'' - means home directory
                    '': 'home',
                    'new': 'editUser',
                    'edit/:id': 'editUser'
                }
            });
            
            var router = new Router();
            var userList = new UserList();
            var editUser = new EditUser();
            router.on('route:home',function(){
                //when we go to the home directory, backbone router see that its calles home
                //and bind it with this event, in witch we launch render function to the userlist object
                //that defined in userLIst object, and insert data into the template
                userList.render();
            });
            router.on('route:editUser',function(id){
                editUser.render({id: id});
            });
            
            Backbone.history.start();
        </script>
    </body>
    
</html>
