
    <div class="text-center vcenter">
        <form id="login">
            <% if(login) {%>
            <% if(login.attributes.error) {%>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="alert alert-block alert-danger">
                        <a class="close" data-dismiss="alert" href="#" onclick="$(this).parent().parent().parent().addClass('hide')">X</a>
                        Incorrect Login or Password
                    </div>
                </div>
            </div>
            <% };%>
            <% }; %>
            <div class="form-group margin-left-30">
                <label for="userName">Login</label>
                <input type="text" name="userName" id="userName" placeholder="Login...">
            </div>
            <div class="form-group">
                <label for="userPass">Password</label>
                <input type="text" name="userPass" id="userPass" placeholder="Password...">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="loginBtn">Log In</button>
            </div>
            <input type="hidden" name="operation" value="login">
        </form>
    </div>