.margin-left-30{
    margin-left:30px;
}
.margin-top-30{
    margin-top:30px;
}

html, body{
    background: url(../images/day.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html{
    /*css for full size background image*/
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.white-color{
    color:white;
}
.margin-top-80{
    margin-top:80px;
}
.margin-bottom-0{
    margin-bottom:0px;
}
.container{
    /*padding:30px;*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
}